.pallet {
	border: 1px solid var(--background-accent);
	background-color: var(--background);
	border-radius: 0.25rem;
	color: var(--font-color);
	cursor: pointer;
	margin: 0.5rem 0.25rem;
	width: var(--pallet-width);

	&:hover {
		border: 1px solid var(--background-accent);
		background-color: var(--background);
		color: var(--font-color);
		opacity: 0.4;
	}

	&--is-sorting {
		background-color: var(--background-accent);
		color: var(--font-color-accent);
	}

	&--empty {
		background-color: transparent;
		pointer-events: none;
		border: none;
		color: transparent;
		user-select: none;
	}

	&.eu-size {
		aspect-ratio: 3/2;
	}

	&.ind-size {
		aspect-ratio: 6/5;
	}
}
