.shelf {
	background-color: var(--background-contrast);
	min-width: var(--pallet-width);
	border-radius: 0.25rem;

	& .shelf__title {
		text-align: center;
		background-color: var(--background-contrast-2);
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}
}
