
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  
  height: 100vh;
  width: 100vw;
}

:root {
  --nav-height: 3rem;
 --pallet-width: 6rem;

 --color-primary: #5492f6;
 --color-secondary: #ffdc83;
 --color-danger: #ff5a78;

 --font-xs: 0.25rem;
 --font-s: 0.5rem;
 --font-m: 1rem;
 --font-l: 1.25rem;
 --font-xl: 1.5rem;
}

[data-theme="dark"] {
  --mode: "dark";
  --font-color: #e1e1e1;
  --font-color-accent: #ffffff;
  --font-color-contrast: #575b69;
  --background: #12171d;
  --background-accent: #787d8e;
  --background-contrast: #b3b5bf;
  --background-contrast-2: #1e2832;

}

[data-theme="light"] {
  --mode: "light";
  --font-color: #202020;
  --font-color-accent: #4b4b4b;
  --font-color-contrast: #ffffff;

  --background: #f3f3f3;
  --background-accent: #adb8d7;
  --background-contrast: #848791;
  --background-contrast-2: #646883;

}

